* {
  font-family: "Inter";
}

.main {
  width: 100vw;
  position: absolute;
  background-color: #E5E5E5;
}

.main-bar {
  width: 73vw;
  height: 531.9px;
  margin-right: 1.6vw;
  float: right;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.main-bar .main-bar-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.main-bar > img {
  margin-right: 2%;
  margin-top: 1.7%;
  float: right;
}

.main-bar .main-bar-intro {
  margin-top: 105.52px;
  height: 25.2%;
  display: inline-block;
}

.main-bar .main-bar-intro div {
  margin-left: 60px;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}

.main-bar .main-bar-intro div + div {
  color: #FFB400;
}

.main-bar .main-bar-text {
  width: 424px;
  color: #767676;
  margin-top: 25px;
  margin-left: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.main-bar .main-bar-button {
  margin-left: 60px;
  margin-top: 50px;
  height: 51px;
  width: 154px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #FFB400;
}

.sidebar {
  width: 23vw;
  min-width: 256.2px;
  float: left;
  background-color: #ffffff;
}

.sidebar > picture + p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-align: center;
}

.sidebar > p + p {
  color: #767676;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  text-align: center;
}

.sidebar > picture > img {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.sidebar .logo {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}

.sidebar .logo div {
  background: #FFB400;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}

.sidebar .logo div img {
  margin: auto;
  display: block;
}

.sidebar .linesb {
  height: 1.5px;
  width: 72%;
  background: #F0F0F6;
  margin: auto;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

.sidebar .tb div {
  width: 72%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.sidebar .tb .highlight {
  background-color: #FFB400;
  margin-bottom: 10px;
  padding-right: 6px;
  padding-left: 5px;
}

.sidebar .tb .avb {
  color: #7EB942;
}

.sidebar .tbdown p {
  margin-left: 13%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.5px;
  color: #2B2B2B;
}

.sidebar .tbdown div {
  width: 72%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.sidebar .tbdown span {
  font-size: 15;
  font-weight: 400;
  line-height: 24px;
  color: #767676;
  margin-top: 18px;
  margin-bottom: 18px;
}

.sidebar .tbdowni p {
  margin-left: 13%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.5px;
  color: #2B2B2B;
}

.sidebar .tbdowni div {
  margin-left: 13%;
  width: 72%;
}

.sidebar .tbdowni span {
  font-size: 15;
  font-weight: 400;
  line-height: 24px;
  color: #767676;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.sidebar .button {
  width: 72%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10.57px;
  background-color: #FFB400;
  margin-left: 13%;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
